.club-card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 20px -2px rgba(25, 59, 144, 0.8);
  transition: transform 100ms ease-in;
  cursor: pointer;
  color:black;
  width: 52rem;
  height: 22.4rem;
}

.club-card:hover {
  transform: scale(1.01);
}

.club-card > img {
  object-fit: fill;
  max-width: 100%;
  width: 52rem;
  height: 14rem;
  /* width: 100%; */
}

.club-card__info {
    margin-top: -2rem;
    // border-radius: 10px;
    padding: 0.4rem;
    // padding-top: 20px;
    border: 1;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .club-card__info > h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 0.5rem;
  }

  .club-card__info > h3 {
    margin-top: -0.5rem;
    font-size: 1rem;
    font-weight: 600;
     margin-left: 0.5rem;
  }
  
  .club-card__info > h4 {
    font-size: 2rem;
    font-weight: 600;
  }

  .club-card__buttons {
    margin-bottom: 40rem;
    display: flex;
    justify-content: space-between;
  }

  