.party__section {
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  padding: 30px;
  max-width: 100%;
}

.no-parties {
  margin-left: 0rem;
  margin-top: 2rem;
  font-size: large;
  color: rgba(25, 59, 144, 0.8);
}


.no-parties > h1 {
  font-size: 7rem;
}

.no-parties > h2 {
  font-size: 4rem;
}