.splash__container {
    // width: 200rem;
    // height: 100%;
    // background-color: $color-blue;
}

.splash-header__container {
    width: 100%;
    height: 5rem;
    background-color: $color-blue;

    .splash-header__logo{
        
    }
}

.splash-top__container {
    width: 100%;
    height: 40rem;
    background-color: $color-blue;
}