.splash__container {
    // width: 200rem;
    // height: 100%;
    // background-color: $color-blue;
}

.splash-header__container {
    width: 100%;
    height: 5rem;
    background-color: $color-blue;
    background-image: linear-gradient(to right, $color-blue, lightblue);

    display: flex;
    justify-content: space-between;

}

  .splash-header__logo{
        // align-self: flex-start;
        margin-left: 2rem;
        background-image: url("../../components/images/vertugoLogoWhite.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 13rem;
        width: 12rem;

        &:hover {
            transform: scale(1.1);
        }
        
    }


    .splash-header__right{
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: bolder;
        font-size: large;
        margin-right: 2rem;
        margin-top: 5rem;

        div {
            margin-right: 2rem;

            &:hover{
                transform: scale(1.1);
            }
        }


       
    }

.splash-top__container {
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(to right, $color-blue, lightblue);
}

.splash-circle-1 {
    margin-left: 2rem;
    z-index: 2;
    width: 10rem;
    height: 10rem;
    background-image: radial-gradient(50% 50%,#6CE7FF 50%,#19BFF1 100%);
    border-radius: 50%;
    -webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
    }
    @-webkit-keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
}