.ticket-card{
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  color:black;
  width: 15rem;
  height: 24rem;
  background-color: white;
}

.ticket-card:hover {
  transform: scale(1.01);
}

.ticket-carda {
  text-decoration: none;
}
.ticket-carda > img {
  object-fit: fill;
  max-width: 100%;
  width: 20rem;
  height: 15rem;
  /* width: 100%; */
}

.ticket-card__info {
    margin-top: -9px;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 1rem;
    border: 1;
  }

  .ticket-card__info > h2 {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  
  .ticket-card__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .ticket-card__buttons {
    display: flex;
    justify-content: space-between;
  }

  .cancel-party__button {
    margin-left: 30%;
    z-index: 99999;
  }

  
///for input fields on Login and Signup
.TextField-without-border-radius fieldset {
  border-radius: 2rem;
}




.TextField-without-border-radius checkbox{
  border-radius: 2rem;
}